/* Animated Background */
#background{
    position:fixed;
    inset:0;
    z-index:-3;

    background:
    radial-gradient(circle at top left,#FADADD,transparent 35%),
    radial-gradient(circle at bottom right,#FFEFF2,transparent 35%),
    linear-gradient(135deg,#FFE2EC,#FFE2EC,#FFE2EC,#FFF6FD);

    background-size:300% 300%;

    animation:auroraMove 18s ease infinite;
}

@keyframes auroraMove{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }

}
/* Shooting Stars */
.shooting-star{

    position:fixed;

    width:160px;
    height:2px;

    background:linear-gradient(90deg,#ffffff,transparent);

    border-radius:999px;

    transform:rotate(-35deg);

    pointer-events:none;

    z-index:-2;

    opacity:0;

    filter:drop-shadow(0 0 8px white);

    animation:shoot 2.2s linear forwards;

}

@keyframes shoot{

    0%{

        opacity:1;

        transform:translate(0,0) rotate(-35deg);

    }

    100%{

        opacity:0;

        transform:translate(-700px,700px) rotate(-35deg);

    }

}